[submodule "applications/tasks/chatbot_chat_api/environment/chatbot_api/recai"]
	path = applications/tasks/chatbot_chat_api/environment/chatbot_api/recai
	url = https://github.com/microsoft/RecAI.git
